#container{
    display: flex;
    height: 100vh;
    margin: 0;
}

#left{
    flex-basis: 40%;
    flex-grow: 0;
    overflow: hidden;
    img{
        width: 250%;
    }
}

#rightcontainer{
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
}

#right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10%;
}

h4{
    font-size: 1.2em;
}

// form{
//     display: flex;
//     flex-direction: column;
//     padding: 5%;
//     // justify-content: center;
//     // background-color: wheat;
// }

form{
    width: 70%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.05rem;
}

#rows{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
//     align-items: space-between;
// }

.row{
    display: flex;
    justify-content: space-between;
    margin: 2% 0%;
}

#createaccount{
    width: 40%;
    margin: 1% 0%;
    width: 40%;
    margin: 5% 0%;
    padding: 2% 0%;
    border-radius: 5%;
    background-color: green;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: black;
    }
}

.buttonpack{
    display: flex;
    flex-direction: column;
}

input{
    width: 200px;
}